[Unit]
Description=Update ovpn Tor exit IP block set
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/ovpn-tor-exit-update.sh
User=root
Group=root
